# Firebase
FIREBASE_PROJECT_ID=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_APP_ID=
FIREBASE_FIRESTORE_DATABASE_ID=

# Notifications
EMAIL_USER=
EMAIL_PASS=
TELEGRAM_BOT_TOKEN=
WHATSAPP_API_KEY=
